<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honor.mybatis.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.honor.mybatis.entity.Resource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.honor.mybatis.entity.Resource">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_resource (id, name, permission, 
      url, parent_id, icon, 
      type)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{permission,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.honor.mybatis.entity.Resource">
    update t_resource
    set name = #{name,jdbcType=VARCHAR},
      permission = #{permission,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, permission, url, parent_id, icon, type
    from t_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, permission, url, parent_id, icon, type
    from t_resource
  </select>
</mapper>