<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honor.mybatis.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.honor.mybatis.entity.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
  </resultMap>

  <!--嵌套查询方法，懒加载-->
  <resultMap id="RelativeMap" type="com.honor.mybatis.entity.Role" extends="BaseResultMap">
    <collection property="users" fetchType="lazy" column="id"
                select="com.honor.mybatis.mapper.UserMapper.selectUserByRoleId"/>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.honor.mybatis.entity.Role">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_role (id, name, sn)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sn,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.honor.mybatis.entity.Role">
    update t_role
    set name = #{name,jdbcType=VARCHAR},
      sn = #{sn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="RelativeMap">
    select id, name, sn
    from t_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectRoleByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select r.id, r.name, r.sn
    from t_role r
    left JOIN t_user_role ur on r.id = ur.role_id
    where ur.user_id = #{userId,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, sn
    from t_role
  </select>
</mapper>